---
import BlogCard from "@/components/BlogCard.astro";
import Layout from "@/layouts/Layout.astro";
import "@fontsource-variable/space-grotesk";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<Layout>
  <main class="space-y-16">
    <h1 class="font-blog-title text-8xl">The Blog</h1>
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
      {posts.map((post) => <BlogCard post={post} />)}
    </div>
  </main>
</Layout>
