---
import BaseHead from "@/components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import "@fontsource/libre-baskerville";
import "@fontsource-variable/work-sans";

export interface Props {
  title?: string;
  description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="w-[100vw] overflow-x-hidden text-gray-900">
    <main
      class="mx-auto max-w-3xl px-6 py-8 sm:px-8 sm:py-16 md:py-20 lg:py-24 xl:py-32"
    >
      <slot />
    </main>
  </body>
</html>
