---
import BaseHead from "@/components/BaseHead.astro";
import { ThemeToggle } from "@/components/ThemeToggle";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import "@fontsource/libre-baskerville";
import "@fontsource-variable/work-sans";
import { cn } from "@/utils/cn";
import { ArrowBigLeft } from "lucide-react";
import { ArrowLeft } from "lucide-react";

export interface Props {
  title?: string;
  description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="w-[100vw] overflow-x-hidden bg-white text-gray-900 transition-colors dark:bg-black dark:text-gray-200"
  >
    <a
      href="/"
      class={cn("group flex gap-2 items-center m-4 mb-0 max-w-min lg:fixed lg:top-4 lg:left-4 lg:z-50 py-2 px-3 rounded-lg bg-white dark:bg-black hover:bg-gray-100 dark:hover:bg-gray-900 transition",
        Astro.url.pathname === "/" && "hidden",
        ""
        )}
    >
      <div class="group-hover:-translate-x-1 transition">
        <ArrowLeft size="15" />
      </div>
      Home
    </a>
    <main
      class="mx-auto max-w-3xl px-6 py-8 sm:px-8 sm:py-16 md:py-20 lg:py-24 xl:py-32"
    >
      <div class="h-16">
        <ThemeToggle client:only />
      </div>
      <slot />
    </main>
  </body>
</html>
