---
import BaseHead from "@/components/BaseHead.astro";
import { ThemeToggle } from "@/components/ThemeToggle";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import "@fontsource/libre-baskerville";
import "@fontsource-variable/work-sans";
import { cn } from "@/utils/cn";
import { ArrowBigLeft } from "lucide-react";
import { ArrowLeft } from "lucide-react";
import { ArrowUp } from "lucide-react";
import HomeButton from "@/components/HomeButton.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";

export interface Props {
  title?: string;
  description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="w-[100vw] overflow-x-hidden bg-white text-gray-900 transition-colors dark:bg-black dark:text-gray-200"
  >
    <HomeButton />
    <main
      class="mx-auto max-w-3xl px-6 py-8 sm:px-8 sm:py-16 md:py-20 lg:py-24 xl:py-32"
    >
      <div class="h-16">
        <ThemeToggle client:only />
      </div>
      <slot />
    </main>
    <ScrollToTop />
  </body>
</html>
