---
import BaseHead from "@/components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import Header from "@/components/Header.astro";
import "@fontsource/dm-sans"

export interface Props {
  title?: string;
  description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-gray-100 px-4">
    <Header />
    <main class="mx-auto my-16 max-w-3xl px-4"><slot /></main>
  </body>
</html>
